<div class="col-lg-6">
    <h1>{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Has actualizado tu información correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Datos no actualizados
    </div>

    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lo-10" >
        <p>
            <label >Nombre</label>
            <input type="text" class="form-control" #name="ngModel" required [(ngModel)]="user.name" name="name">
            <span *ngIf="!name.valid && name.touched"  >El nombre es obligatorio</span>
        </p>
        <p>
            <label >Apellido</label>
            <input type="text" class="form-control" #surname="ngModel" required [(ngModel)]="user.surname" name="surname">
            <span *ngIf="!surname.valid && surname.touched"  >El Apellido es obligatorio</span>
        </p>

        <p>
            <label >Correo electrónico</label>
            <input type="email" class="form-control" #email="ngModel" required [(ngModel)]="user.email" name="email">
            <span *ngIf="!email.valid && email.touched"  >El Email es obligatorio</span>
        </p>
        <div class="image_for_edit" *ngIf="user.image && user.image != 'null' ">
            <img src="{{url+'getimagefile/'+user.image }}">
        </div>
        <p>
            <label >Sube tu avatar</label>
            <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
        
        </p>

    

        <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!userEditForm.form.valid">

    </form>
</div>